<% if @error %>
<div class="ui negative message">
  <div class="header">
    Error subiendo archivo
  </div>
  <p><%= @error %></p>
</div>
<% end %>
<div class="ui attached message">
  <div class="header">
    Subir archivo
  </div>
  <p>Elija un archivo en formato CSV el cuál puedrá exportar usando su programa preferido de hojas de cálculo cómo: <b>Excel</b> ó <b>Numbers</b>. Tenga en cuenta que no hay un límite para el tamaño del archivo por lo tanto dependiendo de la conexión a internet demorará.</p>
</div>
<%= simple_form_for :csv, url: path, method: :post, multipart: true, html: {class: "ui form attached fluid segment"} do |f| %>
<div class="field">
  <%= f.input :file, as: :file, label: "Archivo CSV", wrapper: false %>
</div>
<button type="submit" class="ui right labeled icon olive button">
  <i class="right arrow icon"></i>
  Subir archivo
</button>
<% end %>
