<div class="ui equal width centered grid">
  <div class="column">
    <div class="ui center aligned basic segment">
      <h3>Total de comparendos (Pendientes de pago)</h3>
      <div id="total_infringements"></div>
      <br>
      <%= link_to "Exportar", export_home_index_path(format: :xlsx, call: :pending), class: "large ui button", method: :post %>
    </div>
  </div>
  <div class="column">
    <div class="ui center aligned basic segment">
      <h3>Comparendos (Pagos)</h3>
      <div id="active-infringements"></div>
      <br>
      <%= link_to "Exportar", export_home_index_path(format: :xlsx, call: :active), class: "large ui button", method: :post %>
    </div>
  </div>
</div>
<script type="text/javascript">
Morris.Donut({
  element: 'total_infringements',
  data: <%= raw @total_infringements %>
})
Morris.Donut({
  element: 'active-infringements',
  data: <%= raw @active_infringements %>
})
</script>
