<%= simple_form_for :search, url: find_home_index_path, method: :post, html: {class: "ui form"} do |f| %>
<div class="field">
  <%= f.input :code, label: "Número de comparendo" %>
</div>
<%= f.submit "Buscar", class: "ui button" %>
<% end %>
