<div class="ui equal width centered grid">
  <div class="column">
    <div class="ui center aligned basic segment">
      <h3>Procesar datos</h3>
      <p>Esta opción procesará los pagos y hará un cruze con los comparendos.</p>
      <h4>Total datos a procesar</h4>
      <p><%= number_with_delimiter @payments %></p>
      <%= link_to "Procesar", join_data_path, class: "ui olive button", method: :post %>
    </div>
  </div>
</div>
