<div class="ui equal width centered grid">
  <div class="column">
    <div class="ui center aligned basic segment">
      <h3>Comparendos marcados</h3>
      <p><%= @infringements %></p>
      <div id="join-chart"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
Morris.Donut({
  element: 'join-chart',
  data: <%= raw @infringements_data.to_json %>
})
</script>
