<div class="ui attached message">
  <div class="header">
    Columna de comparendo
  </div>
  <p>Elija la columna que desea importar, teniendo en cuenta que será dónde se encuentre el <b>"Número de comparendo".</b></p>
</div>
<%= simple_form_for :csv, url: process_payments_path(@batch), method: :post, html: {class: "ui form attached fluid segment"} do |f| %>
<div class="field">
  <% #f.input :batch_id, collection: Batch.pendings %>
  <%= f.input :column, collection: @columns, label: "Número de comparendo", include_blank: false, wrapper: false, input_html: { class: "ui dropdown" } %>
</div>
<button type="submit" class="ui olive button">
  Porcesar importación
</button>
<% end %>
