<table class="ui celled table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de creación</th>
      <th>Tipo de importación</th>
      <th>Estado</th>
      <th>Importados</th>
      <th>Fallidos</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
    <tr class="<%= batch.status == "imported" ? "positive" : "" %>">
      <td> <%= batch.file_name %></td>
      <td> <%= batch.created_at %> </td>
      <td> <%= batch.html_type %> </td>
      <td>
        <%=
          if batch.status == "imported"
            link_to batch.html_status, batch
          elsif batch.status == "pending" && batch.import_type == "payment"
            link_to batch.html_status, columns_payments_path(batch)
          elsif batch.status == "pending" && batch.import_type == "infringement"
            link_to batch.html_status, columns_infringements_path(batch)
          else
            batch.html_status
          end
        %>
      </td>
      <td> <%= number_with_delimiter batch.imported %> </td>
      <td> <%= number_with_delimiter batch.failed %> </td>
      <td> <%= number_with_delimiter batch.total %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
