<div class="ui equal width centered grid">
  <div class="column">
    <div class="ui center aligned basic segment">
      <h3>Fecha de creación</h3>
      <p> <%= @batch.created_at %> </p>
      <h3>Tipo de importación</h3>
      <p> <%= @batch.html_type %> </p>
      <h3>Estado</h3>
      <p> <%= @batch.html_status %> </p>
      <div id="batch-chart"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
Morris.Donut({
  element: 'batch-chart',
  data: <%= raw @batch_data.to_json %>
})
</script>
