<div class="ui attached message">
  <div class="header">
    Importar: <%= @batch.file_name %>
  </div>
  <p>Elija la columna que desea importar, teniendo en cuenta que será dónde se encuentre el <b>"Número de comparendo".</b></p>
</div>
<%= simple_form_for :csv, url: process_infringements_path(@batch), method: :post, html: {class: "ui form attached fluid segment"} do |f| %>
<div class="field">
  <%= f.input :infringement_type, collection: %w(EXONERADOS SANCIONADOS\ EN\ AUDIENCIA RP RC CADUCIDAD AVISOS AUTOMÁTICOS REVOCATORIA NÚMERO\ DE\ RESOLUCIÓN), label: "Tipo de comparendo", include_blank: false, wrapper: false, input_html: { class: "ui dropdown" } %>
</div>
<div class="field">
  <%= f.input :infringement_number, collection: @columns, label: "Número de comparendo", include_blank: false, wrapper: false, input_html: { class: "ui dropdown" } %>
</div>
<div class="field">
  <%= f.input :infringement_date, collection: @columns, label: "Fecha de resolución", include_blank: false, wrapper: false, input_html: { class: "ui dropdown" } %>
</div>
<button type="submit" class="ui olive button">
  Porcesar importación
</button>
<% end %>
