<div class="ui equal width centered grid">
  <div class="column">
    <div class="ui center aligned basic segment">
      <h2>Estado de pago</h2>
      <p>
        <%= @infringement.active ? "PAGO" : "NO PAGO" %>
      </p>
      <h3>Número de comparendo</h3>
      <p>
        <%= @infringement.code %>
      </p>
      <h3>Estado</h3>
      <p>
        <%= @infringement.infringement_type %>
      </p>
      <h3>Estado anterior</h3>
      <p>
        <%= @infringement.o_infringement_type %>
      </p>
      <h3>Fecha de resolución</h3>
      <p> <%= h @infringement.date %> </p>
    </div>
  </div>
</div>
